:root {
  --text-color: #fff;
  --board-border-color: #323232;
  --board-content-color: #dadada;
}
/** Semi Bold */
@font-face {
  font-family: "San Francisco 600";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}
/** Regular */
@font-face {
  font-family: "San Francisco 400";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
body {
  background: #171616;
}
* {
  color: var(--text-color);
}
#wrap {
  display: flex;
  position: relative;
}
.sidebar {
  width: 240px;
  height: 100vh;
  background-color: #0c0c0c;
  border-right: 0.1px solid var(--board-border-color);
  position: fixed;
  left: 0;
}

.header > h1 {
  font-size: 2rem;
  font-weight: 800;

  height: 100px;

  position: absolute;
  top: 50px;
  left: 50px;
}

.card {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-left: 250px;
}

.card > ul > li {
  list-style-type: none;
  display: inline-block;
  max-width: 350px;
  height: 290px;
  border-radius: 4px;
  border: 1px solid var(--board-border-color);
}

.btn {
  padding: 10px 30px 10px 30px;

  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
  background-color: beige;
}
btn:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.image img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  cursor: pointer;
}

.card_inner {
  grid-template-columns: 1fr;
  display: grid;
  width: 370px;
  gap: 50px;
  max-width: 450px;
  padding: 50px;
  box-sizing: border-box;
}

.logo {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo h1 a {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 2px;
}
nav ul {
  display: flex;
  flex-direction: column;

  gap: 10px 0;
}
nav ul li {
  display: inline-block;

  width: 100%;
  text-align: center;
  max-width: 350px;
  padding: 10px;
  box-sizing: border-box;
}
nav ul li a {
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";
}
.content_container {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  box-sizing: border-box;
  align-items: flex-start;
  gap: 15px 0;
  font-family: "San Francisco 600";
  align-items: flex-start;
}
.content_container .description {
  color: var(--board-content-color);
  font-size: 13px;
}
.description {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: "San Francisco 400";
}
.title {
  font-size: 14px;
  text-align: left;
}
.logout_btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  border: 1px solid #6c6666;
  padding: 8px 15px;
  width: 80px;
  letter-spacing: 0.5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 11px;
}
.logout_btn:active {
  background: #383838;
}
